services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "5173:5173"             
    volumes:
      - .:/app
      - /app/node_modules       
    environment:
      - CHOKIDAR_USEPOLLING=true

  e2e:
    build:
      context: .
      target: e2e
    network_mode: service:app        
    environment:
      - PLAYWRIGHT_TEST_BASE_URL=http://localhost:5173